
@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.wide-button > *:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

#calc-container {
  width: 50%;
}

#calc-container > div > * {
  height: 70px;
}

#calc-container .col,
#calc-container .col-6 {
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

#calc-container .col:first-child,
#calc-container .col-6 {
  border-left: 1px solid gainsboro;
}

#calc-container .col:last-child {
  background-color: orange;
}

#calc-container .row:last-child {
  border-bottom: 1px solid gainsboro;
}

#calc-container button {
  width: 100%;
  border: 0;
  outline: none;
}

#calc-container button:active {
  filter: brightness(85%) !important;
}

#calc-container #result {
  background-color: gray;
  font-weight: bold;
}

.calculator__quoteContainer {
  font-family: 'Tangerine', monospace;
  font-size: 2em;
}
